@charset "utf-8";

/* font-family:'Noto Sans KR' */
/* reset custom */
* {font-family:'Gowun Dodum', 'Malgun Gothic', Dotum, sans-serif; font-size:18px; letter-spacing:-1px; line-height:1;}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {font-family:'Gowun Dodum', 'Malgun Gothic', Dotum, sans-serif; font-size:18px; letter-spacing:-1px;line-height:1;}
button {box-sizing:border-box; border:1px solid #ff7100; background:none; color:#ff7100; font-size:18px; line-height:28px; height:30px; padding:0 10px; border-radius:4px;}
input {border:1px solid #ff7100; border-radius:4px; font-size:18px; line-height:18px; height:30px; padding:6px 10px; outline:none; box-shadow:none; }
input[type="button"] {border:1px solid #ff7100; color:#ff7100; border-radius:4px;font-size:18px; line-height:28px; height:30px; padding:0 10px; outline:none; box-shadow:none; background:none; }
.vsHdn{
  overflow: hidden;
  position: relative;
  z-index: -1;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  }
.vsHdnI{
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: -1;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  }
#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage {
  left: 0;
}

#heightScroll {
  right: 0;
}

header {
  width: 100%;
  height: 30%;
  background: url(../images/logo.png) no-repeat 50% 50%;
  background-size:80%;
  /*background: url(https://k-life.co/files/attach/images/2019/12/09/af685b123e8ce0de2fdf78de01d5d139.png)
    no-repeat 50% 50%;*/
  top: 0;
  position: fixed;
  z-index: -1;
}

footer {
 width: 100%;
  /* height: 300px; */
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content {
 width: 100%;
  background: #fff;
  position: relative;
  padding-bottom: 40px;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

header h1 {
	display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
  line-height: 1000px;
  color: #999;
}

footer h1 {
  line-height: 300px;
}

header,
footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  }
  a { text-decoration:none } 

 
/* footer */
#footer {color:#fff;text-align:center; padding:45px 0; box-sizing:border-box;}
#footer .f-tit {font-size:24px; font-weight:bold; padding:30px 0;}
#footer .f-box {width:100%; padding-bottom:10px; font-size:14px;}
#footer .f-box:first-of-type {padding-top:10px;}
#footer ul[class^="f-"] {list-style:none; display:inline-block; margin:0;}
#footer ul[class^="f-"]:after {content:''; display:block; clear:both;}
#footer ul[class^="f-"] li {float:left;font-size:14px;}
#footer ul[class^="f-"] li:before {content:''; display:block; float:left;width:1px; height:14px; background-color:#efefef; margin:3px 10px; }
#footer ul[class^="f-"] li:first-of-type:before {display:none;}
#footer ul[class^="f-"] li > a {color:#fff; font-size:14px; }
#footer ul.f-sns {margin:20px 0;}
#footer ul.f-sns li > a > span {font-size:18px; }
#footer ul.f-sns li:before {content:''; height:18px; margin:3px 10px; }
#footer .copy {font-size:14px; }

/**/
.sectBox {width:100%;}
.inner {padding:0 15px; width:100%; box-sizing:border-box;}
.formStyle {display:inline-block;}
input.vsHdnI {padding:0;}
.aft:after {content:''; display:block; clear:both;}

/* gnb */
.gnbWp {width:100%; height:60px; background:#fff; border-bottom:1px solid #ff7100; z-index:10;}
.gnbWp.fixed {position:fixed; top:0; left:0;}
.gnbWp h1.logo {float:left; font-size:36px; font-weight:bold; color:#ff7100; font-family:'Gowun Dodum', sans-serif; line-height:60px; text-align:left; width:auto; margin-left:15px; text-transform:uppercase;}
.gnbWp ul.navWp {float:right; margin-right:15px;}
.gnbWp ul.navWp li {float:left; height:60px; }
.gnbWp ul.navWp li a {color:#555; font-size:18px; height:60px; line-height:60px; padding:0 15px;}


.mapBtnArea {width:100%; padding:30px 0 15px;}
.mapBtnArea .btn_map {float:left; margin-left:15px; }
.mapBtnArea .locDesc {float:right; margin-right:15px;}
.mapBtnArea .locDesc .addr {display:inline-block; margin:0 10px; }
.mapBtnArea .locDesc .btn_getAddr {}

.mapWp {width:calc(100% - 30px); height:30vh; position:relative; padding:0 15px;}
.mapBox {width:100%; height:30vh; position:relative; border:1px solid #ffcba1}
.sectionTit {color:#ff7100; font-size:28px; font-weight:bold; margin:60px 0 15px; position:relative;}
.sectionTit .btnWpMore {position:absolute; bottom:0; right:0;}
.sectionTit .btnWpMore .btnMore {}

/* 슬라이더 커스텀 */
.bx-wrapper {background:none; border:0; box-shadow:none;}
.bx-wrapper .bx-controls-direction a {z-index:3;}
div[class^="fsWrap0"] {height:calc(18.5vw + 146px);}
ul[class^="foodSection0"] li {height:100%;}
ul[class^="foodSection0"] li .img {display:block; width:100%; height:18.5vw; overflow:hidden;}
ul[class^="foodSection0"] li .img > img {width:100%; display: block; min-width:100%; height:100%;-ms-interpolation-mode: bicubic; object-fit: cover;}
ul[class^="foodSection0"] li .storeName {font-size:24px; line-height:28px; height:28px; font-weight:bold; margin:15px 0 10px; position:relative; display:block; width:100%;overflow:hidden; text-overflow:ellipsis; display: -webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; word-wrap:break-word;}
ul[class^="foodSection0"] li .storeDesc {height:48px; line-height:24px; overflow:hidden; text-overflow:ellipsis; display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word;}
ul[class^="foodSection0"] li .btnArea {width:100%; margin-top:15px; height:30px;}
ul[class^="foodSection0"] li .storeEst {width:100%; box-sizing:border-box; border:1px solid #ff7100; background:none; color:#ff7100; font-size:16px; line-height:28px; height:28px; padding:0 7px; border-radius:4px;}
ul[class^="foodSection0"] li .storeEst > span {color:#ff7100; font-size:16px; margin-top:4px; margin-left:3px; }


/*메인 실시간 맛집평가*/	
.reviewWp {margin-top:30px; width:100%; }
.reviewList {}
.reviewList:after {content:''; clear:both; display:block;}
.reviewList li.reviewItem {float:left; width:calc((100% - 30px) / 3); min-height:300px; margin-left:15px; border:1px solid #ff7100; box-sizing:border-box; margin-bottom:15px;}
.reviewList li.reviewItem:first-of-type {margin-left:0;}
.reviewList li.reviewItem:nth-of-type(3n+1) {margin-left:0;}
.reviewList li.reviewItem .itemInner{padding:15px; width:100%; box-sizing:border-box;}
.reviewList li.reviewItem .rvAction {position:relative;}
.reviewList li.reviewItem .rvAction:after {content:''; clear:both; display:block;}
.reviewList li.reviewItem .rvAction .img {float:left; width:70px; height:70px; overflow:hidden;}
.reviewList li.reviewItem .rvAction .img > img {width:100%; height:auto;}
.reviewList li.reviewItem .rvAction .rightDesc {float:right; width:calc(100% - 85px); margin-left:15px;}
.reviewList li.reviewItem .rvAction .usNum {font-size: 13px; color: #222; margin-bottom: 7px;}
.reviewList li.reviewItem .rvAction .rvTit {font-size:15px; color:#222; font-weight:bold; margin-bottom:7px;}
.reviewList li.reviewItem .rvAction .star {position:relative; width:100px; height:20px; background:url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-off@2x.png) repeat-x left; background-size:20px;}
.reviewList li.reviewItem .rvAction .star span{position:absolute; top:0px; left:0px; width:50%; height:20px; background:url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-on@2x.png) repeat-x left; background-size:20px;}
.reviewList li.reviewItem .rvPoint {width:100%;margin-top:10px;}
.reviewList li.reviewItem .rvPoint:after {content:''; clear:both; display:block;}
.reviewList li.reviewItem .rvPoint li {float:left; font-size:13px; color:#222; margin-right:10px;}
.reviewList li.reviewItem .rvPoint li .num {padding-left:15px; background:url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-on@2x.png) no-repeat left; background-size:12px; margin-left:3px;}
.reviewList li.reviewItem .rvText { margin-top:15px; font-size:13px; color:#222; margin-bottom:5px; line-height:16px; height:48px; overflow:hidden; overflow:hidden; text-overflow:ellipsis; display: -webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; word-wrap:break-word;}
.reviewList li.reviewItem .rvThumbnail {width:100%;}
.reviewList li.reviewItem .rvThumbnail img {max-width:49%; margin-left:2%; width:auto; height:195px; }
.reviewList li.reviewItem .rvThumbnail img:first-of-type {margin-left:0;}
.reviewList li.reviewItem .rvBtn {text-align:right; margin-top:20px;}
.reviewList li.reviewItem .rvBtn > a {box-sizing:border-box; border:1px solid #ff7100; background:none; color:#ff7100; font-size:18px; line-height:28px; height:30px; padding:0 10px; border-radius:4px;}


